{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<h1>Bienvenue chez Oriflam, votre source fiable pour les dernières actualités.</h1> 

<p>Chez <strong>Oriflam</strong>, nous sommes passionnés par l'information et nous nous engageons à fournir à nos lecteurs 
les dernières nouvelles dans les domaines qui les intéressent le plus. Notre équipe de journalistes expérimentés travaille 
sans relâche pour couvrir les événements les plus importants et les plus pertinents, en veillant à ce que nos lecteurs soient 
toujours informés.</p> 

<h2>Notre mission</h2> 

<p>Notre mission est de fournir des informations précises, impartiales et opportunes à nos lecteurs, afin qu'ils puissent 
prendre des décisions éclairées sur les questions qui les concernent. Nous croyons que l'information est un droit fondamental 
de chaque individu, et nous nous efforçons de fournir un accès égal à l'information à tous nos lecteurs, où qu'ils se trouvent 
dans le monde.</p> 

<h2>Notre engagement</h2> 

<p>Nous sommes fiers de notre réputation de fiabilité et de professionnalisme, et nous nous engageons à maintenir les normes 
les plus élevées en matière de journalisme éthique et responsable. Nous sommes convaincus que notre engagement envers l'excellence 
et l'intégrité nous permettra de continuer à gagner la confiance et le respect de nos lecteurs.</p> 

<h2>Contactez-nous</h2> 
<p>Si vous avez des questions ou des commentaires, n'hésitez pas à <a href="/contact">nous contacter</a>. 
Nous sommes toujours heureux d'entendre nos lecteurs et de répondre à leurs préoccupations.</p> 
<p>Merci de choisir <strong>Oriflam</strong> comme votre source d'actualités de confiance.</p>
{% endblock %}