{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

<h1>Bienvenue dans l'interface administrateur de notre plateforme !</h1>


<p>
Cette section vous permet de gérer efficacement les différents aspects de notre site, notamment les commentaires, les utilisateurs et les articles.
</p>

<h2>Gestion des Articles</h2>
<p>
Vous avez la possibilité de visualiser tous les articles publiés sur le site, ainsi que de créer de nouveaux articles pour informer notre communauté sur les dernières actualités, événements ou informations importantes. Chaque article peut être modifié ou supprimé selon les besoins, vous permettant de maintenir un contenu frais et pertinent.
</p>

<h2>Gestion des Utilisateurs</h2>
<p>
La gestion des utilisateurs est essentielle pour maintenir un environnement sécurisé et harmonieux. Vous pouvez visualiser la liste complète des utilisateurs inscrits, vérifier leurs informations personnelles et administratives, ainsi que gérer leurs rôles et autorisations. Cette fonctionnalité vous donne le contrôle nécessaire pour garantir que chaque utilisateur a une expérience adaptée à ses besoins et droits spécifiques.
</p>

<h2>Gestion des Commentaires</h2>
<p>
Les commentaires jouent un rôle crucial dans l'interaction avec notre communauté. Dans cette section, vous pouvez surveiller tous les commentaires postés sur le site, que ce soit sur les articles ou d'autres contenus. Vous avez la possibilité de modérer les commentaires en approuvant, éditant ou supprimant ceux qui enfreignent nos directives communautaires. Cette gestion proactive assure un environnement de discussion respectueux et constructif.
</p>

{% endblock %}